body{
	color: white;
	margin: 0;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(4,13,18,0.2) 30%, rgba(4,11,16,0.2) 70%, rgba(0,0,0,1) 100%), url(BGMountain.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f2f2f2;
}

.container{
	background-color: rgba(28,28,28,0.75);
	backdrop-filter: blur(5px);

	width: 300px;
	padding: 30px;
	margin: 0 auto;
	margin-top: 200px;
	border-radius: 15px ;
}
.form-control{
	color: black;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}
.btn{
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: 0.1s ease-out;
}


.btn:hover{
	background-color: #0056b3;
	transform: scale(1.1);
}
