a:link {color: white;  font-family: Comic Sans MS; text-decoration: none } /*esta parte del codigo es para cambiar el color de los links*/
a:visited {color: white;  font-family: Comic Sans MS; text-decoration: none }/*aca tambien, cuando ya fueron visitados*/
a:hover { color: lightgray; font-family: Comic Sans MS; text-decoration: none }/*y aca cuando el cursor esta sobre ellos*/

body{
	
	background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.5) 100%), url("BGMountain.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f2f2f2;

	text-shadow: 0px 4px 6px black;
}
header{
	height: 75px;
	width: 100%;
	background-color: rgba(28, 10, 0, 0.6);
	font-family: Comic Sans MS;
	text-align: center;
	font-size: 3em;
	margin-top: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-shadow: 0px 4px 6px black;
	box-shadow: 0px 6px 10px black;

	backdrop-filter: blur(10px);
}
nav{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 40px;
	width: 100%;
	background-color: rgba(54, 21, 0, 0.3);
	font-family: Comic Sans MS;
	text-align: center;
	font-size: 1.5em;
	word-spacing: 7em;
	border-radius: 15px;
	box-shadow: 0px 6px 10px black;

	backdrop-filter: blur(5px);
}
main{
	height: 100%;
	width: 100%;
	display: flex;
}
section{
	height: auto;
	width: 76%;
	padding-left: 2%;
	padding-right: 2%;
	font-family: Arial;
	border-radius: 15px;
}
aside{
	position: relative;
	left: 1%; top: 1%;
	height: auto;
	width: 18%;
	background-color: rgba(54, 21, 0, 0.3);
	border-radius: 25px;
	box-shadow: 0px 0px 10px black;

	backdrop-filter: blur(5px);/*hace que el fondo detras del elemento se vea borroso*/
}
footer{
	margin-top: 10px;
	height: 50px;
	padding-top: 1%;
	width: 99%;
	text-align: right;
	font-size: 2em;
	background-color: rgba(28, 10, 0, 0.45);
	font-family: Monotype Corsiva, Book Antiqua;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-right: 1%;

	box-shadow: 0px 3px 10px black;
	backdrop-filter: blur(5px);
}
h1{
	text-shadow: 0px 4px 6px black;
}
.barra{
	list-style: none;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: 50px;
}
.volver{
	text-align: right;
}
